<div class="row">
  <div class="col-sm-12">
    <div class="jumbotron jumbotron-fluid text-center">
      <h1 class="display-3">Laos Package Manager</h1>
      <h2><small>Kelola Paket Anda Disini</small></h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="btn-group" role="group" aria-label="Basic example">
    <a href="#/" ng-route="/" class="btn btn-secondary">Aplikasi</a>
    <a href="#/installed" ng-route="/installed" class="btn btn-secondary">Terinstal</a>
    <a href="#/etc" ng-route="/etc" class="btn btn-secondary">Lainnya</a>
  </div>
</div>
<form role="form" id="form-search" method="#">
  <div class="form-group">
    <div class="input-group">
      <input id="search-query" class="form-control" type="text" name="search-query" placeholder="Nama package"
        required />
      <span class="input-group-btn">
        <button id="searchBtn" class="btn btn-warning" type="submit">
          <i class="fa fa-search" aria-hidden="true"></i> Cari
        </button>
      </span>
    </div>
  </div>
</form>

<h1><small>Kategori</small></h1>
<div class="row">

  <div class="thumbnail col-3 bg-light text-center">
    <p>Multimedia</p>
  </div>

  <div class="thumbnail col-3 bg-light text-center">
    <p>Office</p>
  </div>

  <div class="thumbnail col-3 bg-light text-center">
    <p>Office</p>
  </div>

  <div class="thumbnail col-3 bg-light text-center">
    <p>Office</p>
  </div>

  <div class="thumbnail col-3 bg-light text-center">
    <p>Office</p>
  </div>
  <div class="thumbnail col-3 bg-light text-center">
    <p>Office</p>
  </div>
</div>