<div class="row">
  <div class="btn-group" role="group" aria-label="Basic example">
    <a href="#/" ng-route="/" class="btn btn-secondary">Aplikasi</a>
    <a href="#/installed" ng-route="/installed" class="btn btn-secondary">Terinstal</a>
    <a href="#/etc" ng-route="/etc" class="btn btn-secondary">Lainnya</a>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <h3>Installed List <small>(<span ng-bind="totalInstalled"></span> packages)</small></h3>
    <input class="form-control" type="search" ng-model="query" placeholder="filter packages..." aria-label="filter packages" />
    <hr>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>#</th>
            <th>Nama</th>
            <th>Version</th>
            <th>Arch</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="app in packages | filter: query">
            <td>{{ $index + 1 }}</td>
            <td>{{ app.split('/')[0] }}</td>
            <td>{{ app.split('/')[1].split(' ')[1] }}</td>
            <td>{{ app.split('/')[1].split(' ')[2] }}</td>
            <td>{{ app.split('/')[1].split(' ')[3] }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>